USE [ERP_Mercury]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_SyncERP_Budget_BudgetProject] 
AS
-- процедура предназначена для обновления справочника бюджетных проектов
-- данными, полученными из ERP_Budget
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @BUDGETPROJECT_GUID					D_GUID;  
	DECLARE @BUDGETPROJECT_NAME					D_NAME; 
	DECLARE @BUDGETPROJECT_DESCRIPTION	D_DESCRIPTION; 
	DECLARE @BUDGETPROJECT_ACTIVE				D_YESNO; 
	DECLARE @BUDGETPROJECT_1C_CODE			D_ID; 
	declare @sql_text nvarchar( 1000);
	
	CREATE TABLE #BUDGETPROJECT( BUDGETPROJECT_GUID uniqueidentifier, BUDGETPROJECT_NAME nvarchar(128), 
		BUDGETPROJECT_DESCRIPTION nvarchar(512), BUDGETPROJECT_ACTIVE bit, 
		BUDGETPROJECT_1C_CODE int);

	BEGIN TRY
    
		SELECT @sql_text = [dbo].[GetTextQueryForSelectFromERP]( null,  
		'SELECT BUDGETPROJECT_GUID, BUDGETPROJECT_NAME, 
			BUDGETPROJECT_DESCRIPTION, BUDGETPROJECT_ACTIVE, 
			BUDGETPROJECT_1C_CODE FROM [ERP_Budget].[dbo].[T_BudgetProject]');
    SET @sql_text = ' INSERT INTO #BUDGETPROJECT( BUDGETPROJECT_GUID, BUDGETPROJECT_NAME, 
			BUDGETPROJECT_DESCRIPTION, BUDGETPROJECT_ACTIVE, BUDGETPROJECT_1C_CODE ) ' + @sql_text;  
    
		print @sql_text;
	
		execute sp_executesql @sql_text;

		DELETE FROM [dbo].[T_BudgetProject] 
		WHERE BUDGETPROJECT_GUID NOT IN ( SELECT BUDGETPROJECT_GUID FROM #BUDGETPROJECT );
		
		DECLARE crUpdate CURSOR FOR SELECT BUDGETPROJECT_GUID, BUDGETPROJECT_NAME, 
			BUDGETPROJECT_DESCRIPTION, BUDGETPROJECT_ACTIVE, BUDGETPROJECT_1C_CODE
		FROM #BUDGETPROJECT;
		OPEN crUpdate;

		fetch next from crUpdate into @BUDGETPROJECT_GUID, @BUDGETPROJECT_NAME, 
			@BUDGETPROJECT_DESCRIPTION, @BUDGETPROJECT_ACTIVE, @BUDGETPROJECT_1C_CODE;
		while @@fetch_status = 0
			begin
				IF NOT EXISTS ( SELECT [BUDGETPROJECT_GUID] 
												FROM [dbo].[T_BudgetProject] WHERE BUDGETPROJECT_GUID = @BUDGETPROJECT_GUID )
					BEGIN
						INSERT INTO [dbo].[T_BudgetProject]( BUDGETPROJECT_GUID, BUDGETPROJECT_NAME, 
							BUDGETPROJECT_DESCRIPTION, BUDGETPROJECT_ACTIVE, BUDGETPROJECT_1C_CODE, 
							Record_Updated, Record_UserUpdated )
						VALUES( @BUDGETPROJECT_GUID, @BUDGETPROJECT_NAME, 
							@BUDGETPROJECT_DESCRIPTION, @BUDGETPROJECT_ACTIVE, @BUDGETPROJECT_1C_CODE,
							GETUTCDATE(), ( Host_Name() + ': ' + SUSER_SNAME() ) );
					END
				ELSE
					BEGIN
						UPDATE [dbo].[T_BudgetProject] SET BUDGETPROJECT_NAME = @BUDGETPROJECT_NAME, 
							BUDGETPROJECT_DESCRIPTION = @BUDGETPROJECT_DESCRIPTION, 
							BUDGETPROJECT_ACTIVE = @BUDGETPROJECT_ACTIVE,
							BUDGETPROJECT_1C_CODE = @BUDGETPROJECT_1C_CODE,
							Record_Updated = GETUTCDATE(),
							Record_UserUpdated = ( Host_Name() + ': ' + SUSER_SNAME() )
						WHERE BUDGETPROJECT_GUID = @BUDGETPROJECT_GUID;
					END

				fetch next from crUpdate into @BUDGETPROJECT_GUID, @BUDGETPROJECT_NAME, 
					@BUDGETPROJECT_DESCRIPTION, @BUDGETPROJECT_ACTIVE, @BUDGETPROJECT_1C_CODE;
			end -- while @@fetch_status = 0

		close crUpdate;
		deallocate crUpdate;

	
	END TRY
	BEGIN CATCH
    PRINT ERROR_NUMBER();
    PRINT ERROR_MESSAGE();

		close crUpdate;
		deallocate crUpdate;
		DROP TABLE #BUDGETPROJECT;
		RETURN ERROR_NUMBER();
	END CATCH;


	DROP TABLE #BUDGETPROJECT;

	RETURN 0;

END

GO

USE [ERP_Mercury]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_SyncERP_Budget_AccountPlan] 
AS
-- процедура предназначена для обновления справочника плана счетов
-- данными, полученными из ERP_Budget
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @ACCOUNTPLAN_GUID					D_GUID;  
	DECLARE @ACCOUNTPLAN_NAME					D_NAME; 
	DECLARE @ACCOUNTPLAN_ACTIVE				D_YESNO; 
	DECLARE @ACCOUNTPLAN_1C_CODE			D_NAME; 
	declare @sql_text nvarchar( 1000);
	
	CREATE TABLE #ACCOUNTPLAN( ACCOUNTPLAN_GUID uniqueidentifier, ACCOUNTPLAN_NAME nvarchar(128), 
		ACCOUNTPLAN_1C_CODE nvarchar(128), ACCOUNTPLAN_ACTIVE bit);

	BEGIN TRY
    
		SELECT @sql_text = [dbo].[GetTextQueryForSelectFromERP]( null,  
		'SELECT ACCOUNTPLAN_GUID, ACCOUNTPLAN_NAME, 
			ACCOUNTPLAN_1C_CODE, ACCOUNTPLAN_ACTIVE FROM [ERP_Budget].[dbo].[T_AccountPlan]');
    SET @sql_text = ' INSERT INTO #ACCOUNTPLAN( ACCOUNTPLAN_GUID, ACCOUNTPLAN_NAME, 
			ACCOUNTPLAN_1C_CODE, ACCOUNTPLAN_ACTIVE ) ' + @sql_text;  
    
		print @sql_text;
	
		execute sp_executesql @sql_text;

		DELETE FROM [dbo].[T_AccountPlan] 
		WHERE ACCOUNTPLAN_GUID NOT IN ( SELECT ACCOUNTPLAN_GUID FROM #ACCOUNTPLAN );
		
		DECLARE crUpdate CURSOR FOR SELECT ACCOUNTPLAN_GUID, ACCOUNTPLAN_NAME, 
			ACCOUNTPLAN_1C_CODE, ACCOUNTPLAN_ACTIVE
		FROM #ACCOUNTPLAN;
		OPEN crUpdate;

		fetch next from crUpdate into @ACCOUNTPLAN_GUID, @ACCOUNTPLAN_NAME, 
			@ACCOUNTPLAN_1C_CODE, @ACCOUNTPLAN_ACTIVE;
		while @@fetch_status = 0
			begin
				IF NOT EXISTS ( SELECT [ACCOUNTPLAN_GUID] 
												FROM [dbo].[T_AccountPlan] WHERE ACCOUNTPLAN_GUID = @ACCOUNTPLAN_GUID )
					BEGIN
						INSERT INTO [dbo].[T_AccountPlan]( ACCOUNTPLAN_GUID, ACCOUNTPLAN_NAME, 
							ACCOUNTPLAN_1C_CODE, ACCOUNTPLAN_ACTIVE, 
							Record_Updated, Record_UserUpdated )
						VALUES( @ACCOUNTPLAN_GUID, @ACCOUNTPLAN_NAME, 
							@ACCOUNTPLAN_1C_CODE, @ACCOUNTPLAN_ACTIVE,
							GETUTCDATE(), ( Host_Name() + ': ' + SUSER_SNAME() ) );
					END
				ELSE
					BEGIN
						UPDATE [dbo].[T_AccountPlan] SET ACCOUNTPLAN_NAME = @ACCOUNTPLAN_NAME, 
							ACCOUNTPLAN_1C_CODE = @ACCOUNTPLAN_1C_CODE, 
							ACCOUNTPLAN_ACTIVE = @ACCOUNTPLAN_ACTIVE,
							Record_Updated = GETUTCDATE(),
							Record_UserUpdated = ( Host_Name() + ': ' + SUSER_SNAME() )
						WHERE ACCOUNTPLAN_GUID = @ACCOUNTPLAN_GUID;
					END

				fetch next from crUpdate into @ACCOUNTPLAN_GUID, @ACCOUNTPLAN_NAME, 
					@ACCOUNTPLAN_1C_CODE, @ACCOUNTPLAN_ACTIVE;
			end -- while @@fetch_status = 0

		close crUpdate;
		deallocate crUpdate;

	
	END TRY
	BEGIN CATCH
    PRINT ERROR_NUMBER();
    PRINT ERROR_MESSAGE();

		close crUpdate;
		deallocate crUpdate;
		DROP TABLE #ACCOUNTPLAN;
		RETURN ERROR_NUMBER();
	END CATCH;


	DROP TABLE #ACCOUNTPLAN;

	RETURN 0;

END

GO
